@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a machine below:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add Machine"/>
}

<button>@Html.ActionLink("Engineer", "Index")</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Machines", "Index", "Machines")</button>
